In [28]:
import pandas as pd
import sklearn as skl

labels = pd.read_csv("labels.csv")
features = pd.read_csv("features.csv")

#labels.set_index("user")
#features.set_index("user")

     user  gender  fb_friend_count  sender_count  recipient_count  \
0       0       0             19.0          62.0             74.0
1       1      -1              6.0           2.0              1.0
2       2       0              7.0           0.0              0.0
3       3       0             18.0         147.0            147.0
4       4       0             30.0          82.0             69.0
..    ...     ...              ...           ...              ...
839   845       0             26.0           9.0              7.0
840   846       0             22.0          15.0             12.0
841   847       1              NaN           NaN              NaN
842   848      -1              4.0           0.0              0.0
843   850      -1             13.0           0.0              0.0

     caller_count  callee_count
0             3.0           6.0
1             0.0           0.0
2             0.0           0.0
3            11.0          10.0
4            24.0          20.0
..            ...           ...
839           4.0           3.0
840           2.0           0.0
841           NaN           NaN
842           0.0           0.0
843           0.0           0.0

[844 rows x 7 columns]

In [25]:
df = pd.concat([features, labels], axis=1)
df.head(10)

,user,gender,fb_friend_count,sender_count,recipient_count,caller_count,callee_count,user,label
0,0,0,19.0,62.0,74.0,3.0,6.0,0.0,2.0
1,1,-1,6.0,2.0,1.0,0.0,0.0,1.0,1.0
2,2,0,7.0,0.0,0.0,0.0,0.0,2.0,0.0
3,3,0,18.0,147.0,147.0,11.0,10.0,3.0,1.0
4,4,0,30.0,82.0,69.0,24.0,20.0,4.0,1.0
5,5,0,26.0,21.0,18.0,1.0,5.0,5.0,2.0
6,6,1,18.0,46.0,34.0,11.0,6.0,6.0,2.0
7,7,1,6.0,0.0,0.0,1.0,0.0,7.0,0.0
8,8,0,6.0,13.0,17.0,7.0,8.0,8.0,1.0
9,9,0,2.0,1.0,0.0,0.0,0.0,9.0,0.0